.avatar {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.cabecalho {
    text-align: center;
}

body {
    background-color: rgb(10, 10, 10);
    color: white;
}

h2 {
    color: white;
}


.links {
    text-align: center;
}

a {
    width: 100%;
    padding: 15px;
    border: 2px solid white;
    border-radius: 12px;
}

.fa-brands {
    color: white;
    font-size: 1.75rem;
    margin: 15px;
}