.avatar {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 50%;

}

.cabecalho {
    margin: 15px 0px;
    text-align: center;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
}

h2 {
    color: white;
}

.links {
    text-align: center;
    width: 40%;
    margin: auto;
}

a {
    display: block;
    padding: 10px;
    border: 2px solid white;
    border-radius: 12px;
    text-decoration: none;
    color: inherit;
    margin: 15px;

}

.fa-brands {
    color: white;
    font-size: 1.75rem;
    margin-right: 15px;
}

.fa-solid {
    color: white;
    font-size: 1.75rem;
    margin-right: 15px;
}

.contato {
    padding: 10px;
    border: 2px solid white;
    border-radius: 12px;
    text-decoration: none;
    color: inherit;
    margin: 15px;
}

@media screen and (max-width: 767px) {


    .links a {
        margin: 10px auto;
        max-width: 350px;
    }

    .contato {
        margin: 10px auto;
        max-width: 350px;
        text-align: center;
    }
}